
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController">
        @*<div ng-controller="studentController">
        {{message}}
    </div>
    <div ng-controller="teacherController">
        {{message}}
    </div>*@
        <input type="number" ng-model="num" />
        <button ng-click="checkNumber()">click</button>
        {{message}}
        <br />
        value of textbox: {{num}}
        <br />
        <shopping-app-directive></shopping-app-directive>
        <div shopping-app-directive2></div>
    </div>
    
</body>
</html>
